/* General */

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font: 16px/2 'Roboto Slab', 'Georgia', sans-serif;
    background: #c4e5ee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 500;
}

/* Header */

.header-title {
    display: inline-block;
    margin: 0 .75em 0 0;
    color: #fdf3b8;
    font-size: 2em;
    letter-spacing: .03em;
    text-shadow: 2px 2px #5B5577;
}

.header-text {
    display: inline-block;
    margin: 0;
}

.container {
    max-width: 740px;
    width: 100%;
    margin: 3em auto;
}

/* Game Grid */

.game {
    position: relative;
}

.game-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    background-color: #fff;
    border: 12px solid #fff;
    border-radius: 20px;
    box-shadow: 5px 5px 0 0 #5B5577;
    list-style-type: none;
}

.game-grid-cell {
    width: 25%;
    padding: 1em;
    background: #ffdcf4 url('../img/galaxy.svg');
    background-size: cover;  
    border: 12px solid #fff;  
    border-radius: 30px;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform .5s ease-in-out, background .3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

/* Generate square cards */
.game-grid-cell:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.game-grid:after {
    content: '';
    display: block;
    clear: both;
}

/* Grid Cards */

.astronaut {
    background-color: #a22b47;
    background-image: url('../img/astronaut.svg');
    transform: rotateY(0);
}

.atom {
    background-color: #d66724;
    background-image: url('../img/atom.svg');
    transform: rotateY(0);
}

.robot {
    background-color: #d4b038;
    background-image: url('../img/robot.svg');
    transform: rotateY(0);
}

.rocket {
    background-color: #96d868;
    background-image: url('../img/rocket.svg');
    transform: rotateY(0);
}

.saturn {
    background-color: #63b0e6;
    background-image: url('../img/saturn.svg');
    transform: rotateY(0);
}

.shootingstar {
    background-color: #a068b1;
    background-image: url('../img/shootingstar.svg');
    transform: rotateY(0);
}

.telescope {
    background-color: #556B2F;
    background-image: url('../img/telescope.svg');
    transform: rotateY(0);
}

.ufo {
    background-color: #066666;
    background-image: url('../img/ufo.svg');
    transform: rotateY(0);
}

/* Grid Card States */

.face-down {
    background-color: #ffdcf4;
    background-image: url('../img/galaxy.svg');
    transform: rotateY(180deg);
}

.matched {
    animation: shake 0.5s ease-in-out;
}

/* Game Stats */

.game-stats {
    padding: 0;
    list-style-type: none;
}

.game-stats > li {
    display: inline-block;
    margin: 0 1em 0 0;
}

.games-stats-name {
    display: inline-block;
    margin: 0 .5em 0 0;
    color: #FF8C00;
    font: 500 1em 'Roboto', 'Arial', sans-serif;
    letter-spacing: .06em;
    text-shadow: 1px 1px #5B5577;
    text-transform: uppercase;
}

.rating-total {
    padding: 0;
    list-style-type: none;
}

.rating-star {
    display: inline-block;
    margin-left: 5px;
}

.rating-star-image {
    width: 25px;
    height: 25px;
}

.rating-star.disabled {
    opacity: .25;
}

/* Victory Modal */

.victory-modal {
    position: absolute;
    top: 0;
    left: 0;
    display: table;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    opacity: 0;
    pointer-events: none;
}

.victory-modal-wrapper {
    transform: translateY(-9999px);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    transition: all .7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.victory-modal-box{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 2em;
    background: #fff;
    box-shadow: 5px 5px 0 0 rgba(181,252,254,1);
    transform: rotate(-3deg);
}

.victory-modal-title {
    margin: 0;
    color: #FF8C00;
    font-size: 2.25em;
    letter-spacing: .03em;
    text-shadow: 2px 2px #5B5577;
    text-transform: uppercase;
}

.victory-modal-stats {
    margin: .25em 0 1.25em;
}

#final-rating {
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.final-rating-star {
    display: inline-block;
    margin: 0 .5em;
    opacity: .25;
}

.final-rating-star.enabled {
    opacity: 1;
}

.final-rating-star-image {
    width: 30px;
    height: 30px;
}

.reset-button {
    padding: .66em 1em;
    color: #fff;
    font: 500 1em 'Roboto', 'Arial', sans-serif;
    text-transform: uppercase;
    background-color: #5B5577;
    border: 0;
    border-radius: 5px;
}

/* Victory Modal Enabled */

.victory-modal.enabled {
    opacity: 1;
    pointer-events: auto;
}

.victory-modal.enabled .victory-modal-wrapper {
    transform: translateY(0);
}

/* Shake Animation */

@keyframes shake {
    0%, 100% {
        transform: scale3d(1, 1, 1);
    }  
    30%, 70% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }
}

/* Min-width: 1024px */

@media screen and (min-width: 1200px) {

    .game-stats {
        position: absolute;
        top: 0;
        right: -200px;
        max-width: 200px;
    }

    .game-stats > li {
        display: block;
        margin: 0;
    }
}