/* General */

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 10px/2 'Roboto Slab', 'Georgia', sans-serif;
}

/* Header */

.header-title {
    font: 2em 'Delius', cursive;
}

.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

/* Game Grid */

.game-grid {
    padding: 0;
    list-style-type: none;
}

.game-grid-cell {
    float: left;
    width: 10vw;
    height: 10vw;
    margin: .5em;
    padding: 1em;
    background-image: url('../img/question-mark.svg');
    background-size: cover;
    border: 3px solid #000;
    border-radius: 20px;
}

.game-grid:after {
    content: '';
    display: block;
    clear: both;
}

/* Grid Cards */

.astronaut {
    background-image: url('../img/astronaut.svg');
}

.atom {
    background-image: url('../img/atom.svg');
}

.robot {
    background-image: url('../img/robot.svg');
}

.rocket {
    background-image: url('../img/rocket.svg');
}

.saturn {
    background-image: url('../img/saturn.svg');
}

.shootingstar {
    background-image: url('../img/shootingstar.svg');
}

.telescope {
    background-image: url('../img/telescope.svg');
}

.ufo {
    background-image: url('../img/ufo.svg');
}

/* Grid Card States */

.face-down {
    background-image: url('../img/question-mark.svg');
}

/* Game Stats */

.game-stats-rating {
    list-style-type: none;
}

.rating-star {
    display: inline-block;
}

.rating-star.disabled {
    opacity: .25;
}

/* Victory Modal */

.victory-modal {
    position: absolute;
    top: 0;
    left: 0;
    display: table;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.33);
    opacity: 0;
    pointer-events: none;
}

.victory-modal-wrapper {
    transform: translateY(-9999px);
    display: table-cell;
    vertical-align: middle;
    transition: all .5s ease-in-out;
}



.victory-modal-box{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    background: #fff;
}

/* Victory Modal Enabled */

.victory-modal.enabled {
    opacity: 1;
    pointer-events: auto;
}

.victory-modal.enabled .victory-modal-wrapper {
    transform: translateY(0);
}