/* General */

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    color: #000;
    font: 16px/2 'Roboto Slab', 'Georgia', sans-serif;
    background: #c4e5ee;
}

/* Header */

.header-title {
    font: 2em 'Delius', cursive;
}

.container {
    max-width: 740px;
    width: 100%;
    margin: 0 auto;
}

/* Game Grid */

.game-grid {
    background-color: #fff;
    padding: 0;
    border: 10px solid #fff;
    border-radius: 20px;
    list-style-type: none;
}

.game-grid-cell {
    float: left;
    width: 150px;
    height: 150px;
    margin: 15px;
    padding: 1em;
    background: #ffdcf4 url('../img/galaxy.svg');
    background-size: cover;    
    border-radius: 20px;
}

.game-grid:after {
    content: '';
    display: block;
    clear: both;
}

/* Grid Cards */

.astronaut {
    background-color: #a22b47;
    background-image: url('../img/astronaut.svg');
}

.atom {
    background-color: #d66724;
    background-image: url('../img/atom.svg');
}

.robot {
    background-color: #d4b038;
    background-image: url('../img/robot.svg');
}

.rocket {
    background-color: #96d868;
    background-image: url('../img/rocket.svg');
}

.saturn {
    background-color: #63b0e6;
    background-image: url('../img/saturn.svg');
}

.shootingstar {
    background-color: #a068b1;
    background-image: url('../img/shootingstar.svg');
}

.telescope {
    background-color: #556B2F;
    background-image: url('../img/telescope.svg');
}

.ufo {
    background-color: #066666;
    background-image: url('../img/ufo.svg');
}

/* Grid Card States */

.face-down {
    background-color: #ffdcf4;
    background-image: url('../img/galaxy.svg');
}

/* Game Stats */

.game-stats-rating {
    list-style-type: none;
}

.rating-star {
    display: inline-block;
}

.rating-star.disabled {
    opacity: .25;
}

/* Victory Modal */

.victory-modal {
    position: absolute;
    top: 0;
    left: 0;
    display: table;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.33);
    opacity: 0;
    pointer-events: none;
}

.victory-modal-wrapper {
    transform: translateY(-9999px);
    display: table-cell;
    vertical-align: middle;
    transition: all .5s ease-in-out;
}

.victory-modal-box{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    background: #fff;
}

/* Victory Modal Enabled */

.victory-modal.enabled {
    opacity: 1;
    pointer-events: auto;
}

.victory-modal.enabled .victory-modal-wrapper {
    transform: translateY(0);
}